.profile__page {
    height: 100vh;
    color: #fff;

    .profile__body {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 8%;
        max-width: 800px;

        h1 {
            font-size: 60px;
            border-bottom: 1px solid #282c2d;
            margin-bottom: 20px;
        }

        .profile__info {
            display: flex;

            img {
                height: 100px;
            }

            .profile__details {
                color: #fff;
                margin-left: 25px;
                flex: 1;

                h2 {
                    background-color: gray;
                    padding: 15px;
                    font-size: 1rem;
                    padding-left: 20px;
                }

                .profile__plans {
                    h3 {
                        border-bottom: 1px solid #282c2d;
                        padding-top: 10px;
                        padding-bottom: 10px;
                    }

                    .plans__container {
                        display: flex;
                        justify-content: space-between;
                        padding: 20px;
                        opacity: 0.8;
                        cursor: pointer;

                        button {
                            padding: 7px 16px;
                            font-size: 1rem;
                            color: #fff;
                            background-color: #e50914;
                            border: none;
                            border-radius: 5px;
                            font-weight: 600;
                            cursor: pointer;
                        }

                        &:hover {
                            transition: 0.5s ease-in-out;
                            opacity: 1;
                        }
                    }

                    .profile__signOut {
                        padding: 10px 20px;
                        font-size: 1rem;
                        margin-top: 5%;
                        width: 100%;
                        color: #fff;
                        background-color: #e50914;
                        font-weight: 600;
                        border: none;
                        border-radius: 5px;
                        cursor: pointer;

                        &:hover {
                            transition: 0.3s ease-in-out;
                            background-color: #b50914;
                        }
                    }
                }
            }
        }
    }
}
